# Source Control
.git
.gitignore

# IDEs and OS
.idea
.vscode
.DS_Store

# Environments and Secrets (CRITICAL)
.env
.env.example
config/*.json
!config/templates/

# Local Build Artifacts
tmp/
bin/
*.test
*.out

# Documentation and Project Management
README.md
TODO.md
GEMINI.md
.gemini/
.geminiignore

# Docker files
docker/
Dockerfile
docker-compose.yaml

# Local data
sample-data/
